<nav class="nav nav--mobile">
  <ul class="nav__list" id="js-nav-links">
    <li class="nav__list-item">
      <a href="" class="nav__link" [routerLink]="['/about']">
        <span class="fa fa-play-circle nav__icons"></span>
      </a>
      <span class="nav__list-name">Streaming</span>
    </li>
    <li class="nav__list-item">
      <a href="" class="nav__link" [routerLink]="['/services']">
        <span class="fa fa-gamepad nav__icons"></span>
      </a>
      <span class="nav__list-name">Games</span>
    </li>
    <li class="nav__list-item">
      <a href="" class="nav__link" [routerLink]="['/about']">
        <span class="fa fa-th nav__icons"></span>
      </a>
      <span class="nav__list-name">Apps</span>
    </li>
    <li class="nav__list-item">
      <a href="" class="nav__link" [routerLink]="['/contact']">
        <span class="fa fa-shopping-bag nav__icons"></span>
      </a>
      <span class="nav__list-name">Store</span>
    </li>
    <li class="nav__list-item">
      <a href="" class="nav__link" [routerLink]="['/contact']">
        <span class="fa fa-user nav__icons"></span>
      </a>
      <span class="nav__list-name">Account</span>
    </li>
    <li class="nav__list-item">
      <a href="" class="nav__link" [routerLink]="['/contact']">
        <span class="fa fa-credit-card nav__icons"></span>
      </a>
      <span class="nav__list-name">Wallet</span>
    </li>
    <li class="nav__list-item">
      <a href="" class="nav__link" [routerLink]="['/contact']">
        <span class="fa fa-cog nav__icons"></span>
      </a>
      <span class="nav__list-name">Settings</span>
    </li>
  </ul>
</nav>
